.eventsSection {
    padding: 10rem 0rem 6rem;
    background: #F8F7FE;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.eventCard{
    z-index: 0;
}

.purpleCircleImage {
    position: absolute;
    top: 13rem;
    left: 17%;
    width: 2rem;
}

.blueCircleImage {
    position: absolute;
    top: 17rem;
    right: 44.5%;
    width: 1rem;
}

.greenCircleImage {
    position: absolute;
    bottom: 5rem;
    left: 48%;
    width: 2.5rem;
}

.orangeCircleImage {
    position: absolute;
    bottom: 1rem;
    left: 30%;
    width: 1.5rem;
}

.redCircleImage {
    position: absolute;
    top: 14rem;
    right: 21%;
    width: 3rem;
}

.yellowCircleImage {
    position: absolute;
    bottom: 7.6rem;
    left: 18%;
    width: 3rem;
}

.topContent {
    margin-bottom: 3rem;
}

.topTitle {
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: #ff7a00;
    font-weight: bold;
    text-decoration: underline;
}

.topSubTitle {
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: #563caa;
    font-weight: bold;
    margin-top: 0.5rem;
}

.eventsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 5rem;
}

.eventImageWrapper {
  position: relative;
  width: 100%;
  max-width: 600px; 
  margin: 0 auto;
}

.PurpleBgImage, .GreenBgImage {
  width: 100%;
  height: auto;
  display: block;
  position: relative; 
  z-index: 0;
}

.PurpleLineImage, .GreenLineImage {
  position: absolute;
  top: -10px;
  left: 10px;
  width: 100%;
  height: auto;
  z-index: 1;
  pointer-events: none;
}

.eventContentOpenDay {
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: auto;
  z-index: 999;
  padding: 3rem 2rem 2rem;
}

.eventContentAnniversary {
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: auto;
  z-index: 2;
  padding: 5rem 2rem 2rem;
}

.eventTitle {
    font-size: clamp(1.25rem, 5vw, 2rem);
    color: #563caa;
    font-weight: bold;
}

.eventDate {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-size: clamp(1rem, 5vw, 1.25rem);
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.DateIcon {
    margin-right: 0.5rem;
    font-size: 1.55rem;
}

.eventDescription {
    font-size: clamp(1rem, 5vw, 1.25rem);
    margin-top: 1rem;
    text-align: justify;
    margin-bottom: 2rem;
}

.eventPromotion {
    font-size: clamp(1rem, 5vw, 1.25rem);
    margin-top: 2rem;
    text-align: left;
    color: #563caa;
    font-weight: bold;
    margin-bottom: 2rem;
}

.eventPromotion ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.eventPromotion li {
    text-align: justify;
    font-weight: 500;
    color: black;
    padding: 0.5rem;
    font-size: clamp(1rem, 5vw, 1.25rem);
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 20px;
}

.eventButton {
    position: relative;
    background-color: #F0C000;
    color: #563caa;
    padding: 0.65rem 3rem;
    font-size: clamp(1rem, 5vw, 1.25rem);
    font-weight: 600;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    z-index: 10;
}

.ArrowIcon {
    position: absolute;
    width: 42px;
    margin-top: -0.45rem;
    margin-left: 1rem;
    border-radius: 50%;
    border: 4px solid white;
}

@media (max-width: 1440px) and (min-width: 1300px) {
    .eventsSection {
        padding: 10rem 2rem 4rem;
    }

    .eventsWrapper {
        gap: 2rem;
    }
}

@media (max-width: 1299px) and (min-width: 1025px) {
    .eventsSection {
        padding: 10rem 2rem 4rem;
    }

    .eventsWrapper {
        gap: 1.5rem;
    }

    .eventImageWrapper {
        max-width: 600px; 
    }

    .eventContentOpenDay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 28vw;
        padding: 1rem 1rem 2rem;
    }

    .eventContentAnniversary {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 45vw;
        padding: 2.5rem 1rem 2rem;
    }

    .eventTitle {
        font-size: clamp(1.25rem, 5vw, 1.5rem);
    }

    .eventDate {
        font-size: clamp(1rem, 5vw, 1.15rem);
        margin-top: 0.25rem;
    }

    .DateIcon {
        font-size: 1.35rem;
    }

    .eventDescription {
        font-size: clamp(1rem, 5vw, 1.15rem);
        margin-top: 0.5rem;
    }

    .eventPromotion {
        font-size: clamp(1rem, 5vw, 1.15rem);
        margin-top: 1.5rem;
    }

    .eventPromotion li {
        font-size: clamp(1rem, 5vw, 1.15rem);
    }

    .eventButton {
        padding: 0.45rem 3rem;
        font-size: clamp(1rem, 5vw, 1.15rem);
        margin-top: 1.15rem;
    }

    .ArrowIcon {
        width: 38px;
        margin-top: -0.45rem;
    }

    .purpleCircleImage {
        position: absolute;
        top: 13rem;
        left: 17%;
        width: 2rem;
    }

    .blueCircleImage {
        position: absolute;
        top: 17rem;
        right: 44.5%;
        width: 1rem;
    }

    .greenCircleImage {
        position: absolute;
        bottom: 6rem;
        left: 45%;
        width: 2.5rem;
    }

    .orangeCircleImage {
        position: absolute;
        bottom: 2rem;
        left: 26%;
        width: 1.5rem;
    }

    .redCircleImage {
        position: absolute;
        top: 14rem;
        right: 10%;
        width: 3rem;
    }

    .yellowCircleImage {
        position: absolute;
        bottom: 9rem;
        left: 10%;
        width: 3rem;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .eventsSection {
        padding: 10rem 2rem 4rem;
    }

    .eventsWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        gap: 2rem;
    }

    .purpleCircleImage {
        position: absolute;
        top: 13rem;
        left: 5%;
        width: 2rem;
    }

    .blueCircleImage {
        position: absolute;
        top: 17rem;
        right: 44.5%;
        width: 1rem;
    }

    .greenCircleImage {
        position: absolute;
        bottom: 6rem;
        left: 45%;
        width: 2.5rem;
    }

    .orangeCircleImage {
        position: absolute;
        bottom: 2rem;
        left: 26%;
        width: 1.5rem;
    }

    .redCircleImage {
        position: absolute;
        top: 14rem;
        right: 5%;
        width: 3rem;
    }

    .yellowCircleImage {
        position: absolute;
        bottom: 9rem;
        left: 10%;
        width: 3rem;
    }
}
@media (max-width: 768px) and (min-width: 551px) {
    .eventsSection {
        padding: 10rem 1rem 4rem;
    }

    .eventsWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        gap: 2rem;
    }

    .PurpleBgImage {
        left: -0.5rem;
        height: 350px;
    }

    .PurpleLineImage {
        left: 0rem;
        height: 350px;
    }

    .GreenBgImage {
        left: -0.5rem;
        height: 560px;
    }

    .GreenLineImage {
        left: 0rem;
        height: 560px;
    }

    .eventTitle {
        font-size: clamp(1.25rem, 5vw, 1.5rem);
    }

    .eventDate {
        font-size: clamp(1rem, 5vw, 1.15rem);
        margin-top: 0.25rem;
    }

    .DateIcon {
        font-size: 1.35rem;
    }

    .eventDescription {
        font-size: clamp(1rem, 5vw, 1.15rem);
        margin-top: 0.5rem;
    }

    .eventPromotion {
        font-size: clamp(1rem, 5vw, 1.15rem);
        margin-top: 1.5rem;
    }

    .eventPromotion li {
        font-size: clamp(1rem, 5vw, 1.15rem);
    }

    .eventButton {
        padding: 0.45rem 3rem;
        font-size: clamp(1rem, 5vw, 1.15rem);
        margin-top: 1.15rem;
    }

    .ArrowIcon {
        width: 38px;
        margin-top: -0.45rem;
    }

    .purpleCircleImage {
        position: absolute;
        top: 13rem;
        left: 5%;
        width: 2rem;
    }

    .blueCircleImage {
        display: none;
    }

    .greenCircleImage {
        position: absolute;
        bottom: 6rem;
        left: 45%;
        width: 2.5rem;
    }

    .orangeCircleImage {
        position: absolute;
        bottom: 2rem;
        left: 26%;
        width: 1.5rem;
    }

    .redCircleImage {
        position: absolute;
        top: 14rem;
        right: 5%;
        width: 3rem;
    }

    .yellowCircleImage {
        position: absolute;
        bottom: 9rem;
        left: 10%;
        width: 3rem;
    }
}

@media (max-width: 550px) {
    .eventsSection {
        padding: 10rem 1rem 4rem;
    }

    .eventsWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        gap: 2rem;
    }

    .PurpleBgImage {
        left: -0.5rem;
        height: 360px;
    }

    .PurpleLineImage {
        left: 0rem;
        height: 360px;
    }

    .GreenBgImage {
        left: -0.5rem;
        height: 520px;
    }

    .GreenLineImage {
        left: 0rem;
        height: 520px;
    }

    .eventsWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        gap: 2rem;
    }

    .eventContentOpenDay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4rem 1rem 2rem;
        left: 0;
    }

    .eventContentAnniversary {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem 1rem 2rem;
        left: 0rem;
    }

    .eventTitle {
        font-size: clamp(1.25rem, 5vw, 1.25rem);
    }

    .eventDate {
        font-size: clamp(1rem, 5vw, 1rem);
        margin-top: 0rem;
    }

    .DateIcon {
        font-size: 1.25rem;
    }

    .eventDescription {
        font-size: clamp(0.5rem, 5vw, 1rem);
        margin-top: 0.25rem;
    }

    .eventPromotion {
        font-size: clamp(0.5rem, 5vw, 1rem);
        margin-top: 1rem;
    }

    .eventPromotion li {
        font-size: clamp(0.5rem, 5vw, 1rem);
    }

    .eventButton {
        padding: 0.45rem 3rem;
        font-size: clamp(0.5rem, 5vw, 1rem);
        margin-top: 0.5rem;
    }

    .ArrowIcon {
        width: 38px;
        margin-top: -0.45rem;
    }

    .purpleCircleImage, 
    .blueCircleImage, 
    .greenCircleImage, 
    .orangeCircleImage, 
    .redCircleImage, 
    .yellowCircleImage {
        display: none;
    }
}

@media (max-width: 400px) {
    .PurpleBgImage {
        left: -0.5rem;
        height: 360px;
    }

    .PurpleLineImage {
        left: 0rem;
        height: 360px;
    }

    .GreenBgImage {
        left: -0.5rem;
        height: 580px;
    }

    .GreenLineImage {
        left: 0rem;
        height: 580px;
    }

    .eventContentOpenDay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 58vw;
        padding: 11rem 1rem 2rem;
        left: 0;
    }

    .eventContentAnniversary {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 86vw;
        padding: 18rem 1rem 2rem;
        left: 0rem;
    }
}