.aboutSection {
    background-color: white;
    padding: 4rem 2rem;
    position: relative;
}

.topCloud {
    background: url('/assets/about/cloud-top.svg') no-repeat center top;
    background-size: cover;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    gap: 3rem;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
}

.textContent {
    flex: 1 1 50%;
}

.subTitle {
    color: #F08A29;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    color: #5E1AF4;
    margin-bottom: 1.25rem;
}

.description {
    color: #333;
    font-size: 1.5rem;
    line-height: 1.8;
}

.imageWrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    margin: 2rem auto;
}

/* Bottom Image */
.aboutImage1 {
    width: 100%;
    border-radius: 2rem;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1;
    height: 350px;
}

/* Top Overlapping Image */
.aboutImage2 {
    position: absolute;
    bottom: -30px;
    right: -40px;
    border-radius: 2rem;
    object-fit: cover;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    z-index: 2;
    width: 300px;
    height: 300px;
}

/* Responsive */
@media (max-width: 768px) {
    .imageWrapper {
        max-width: 90%;
    }

    .imageSecondary {
        width: 60%;
        bottom: -20px;
        right: -20px;
    }
}


@media (max-width: 1024px) and (min-width: 768px) {}
@media (max-width: 767px) and (min-width: 426px) {
    .contentWrapper {
        flex-direction: column;
        align-items: center;
    }

    .textContent,
    .imageWrapper {
        width: 100%;
        text-align: center;
    }

    .aboutImage,
    .aboutImageSecondary {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 425px) {
    .contentWrapper {
        flex-direction: column;
        align-items: center;
    }

    .textContent,
    .imageWrapper {
        width: 100%;
        text-align: center;
    }

    .aboutImage,
    .aboutImageSecondary {
        width: 90%;
        margin: 0 auto;
    }
}
