.aboutSection {
    background-color: white;
    padding: 4rem 8rem 6rem;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.topCloud {
    background: url('/assets/about/cloud-top.svg') no-repeat center top;
    background-size: cover;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
}

.imageWrapper {
    display: flex;
    position: relative;
    justify-items: center;
    width: 100%;
    max-width: 40rem;
    min-height: 300px;
    margin-top: -5rem;
}

/* Bottom Image */
.aboutImage1 {
    border-radius: 2rem;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1;
    width: 70%;
    height: 300px;
}

/* Top Overlapping Image */
.aboutImage2 {
    position: absolute;
    bottom: -120px;
    right: 30px;
    border-radius: 2rem;
    border: 5px solid white;
    object-fit: cover;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    z-index: 2;
    width: 260px;
    height: 260px;
}

.aboutIllustration1 {
    position: absolute;
    bottom: 50px;
    right: 70px;
    border-radius: 10rem;
    width: 200px;
    height: 200px;
}

.aboutIllustration2 {
    position: absolute;
    bottom: -130px;
    left: 80px;
    border-radius: 2rem;
    z-index: 2;
    width: 130px;
}

.aboutIllustration3 {
    position: absolute;
    top: 10px;
    right: 100px;
    border-radius: 2rem;
    z-index: 2;
    width: 140px;
}

.aboutIllustration4 {
    position: absolute;
    bottom: -80px;
    right: -180px;
    overflow-x: hidden;
    border-radius: 2rem;
    z-index: 2;
    width: 150px;
}

.textContent {
    flex: 1;
    margin-top: 4rem;
}

.title {
    color: #F08A29;
    font-weight: 600;
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

.subTitle {
    font-size: 2rem;
    font-weight: 600;
    color: #563CAA;
    margin-bottom: 1.25rem;
}

.description {
    font-size: 1.5rem;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 5rem;
}

.topText {
  display: none;
}

@media (max-width: 1440px) and (min-width: 1025px) {
    .aboutSection {
        padding: 4rem 4rem;
    }

    .contentWrapper {
        gap: 2rem;
    }

    .imageWrapper {
        max-width: 30rem;
    }

    .aboutIllustration2 {
        left: 20px;
    }

    .aboutIllustration3 {
        right: 50px;
    }

    .aboutIllustration4 {
        bottom: -40px;
        right: -110px;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .aboutSection {
        padding: 4rem 5vw;
    }

    .contentWrapper {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 0 2rem;
    }

    .topText {
        display: contents;
        text-align: center;
        z-index: 3;
        order: 1;
    }

    .imageWrapper {
        order: 2;
        margin: 2rem 0 4rem;
    }

    .textContent {
        order: 3;
        width: 100%;
        text-align: justify;
    }

    .topAboutIllustration3 {
        position: absolute;
        top: 0px;
        right: 100px;
        border-radius: 2rem;
        z-index: 2;
        width: 100px;
    }

    .topTitle {
        text-decoration: underline;
        font-size: 2rem;
        color: #F08A29;
    }

    .topSubTitle {
        font-size: 2rem;
        color: #563CAA;
        margin-bottom: 0.5rem;
    }

    .aboutImage1 {
        left: 0px;
        width: 70%;
        height: 300px;
    }

    .aboutImage2 {
        bottom: -100px;
        right: 0px;
        width: 260px;
        height: 260px;
    }

    .aboutIllustration1 {
        bottom: 60px;
        right: 80px;
        width: 200px;
        height: 200px;
    }

    .aboutIllustration2 {
        left: 60px;
        bottom: -100px;
        width: 6rem;
    }

    .aboutIllustration3 {
        display: none;
    }

    .aboutIllustration4 {
        bottom: -20px;
        right: -110px;
    }

    .title {
        display: none;
    }

    .subTitle {
        display: none;
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    .aboutSection {
        padding: 6vw;
    }

    .contentWrapper {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .topText {
        display: contents;
        text-align: center;
        z-index: 3;
        order: 1;
    }

    .imageWrapper {
        order: 2;
        margin: 1rem 0 5rem;
    }

    .textContent {
        order: 3;
        width: 100%;
        text-align: justify;
    }

    .topAboutIllustration3 {
        position: absolute;
        top: 0px;
        right: 10px;
        border-radius: 2rem;
        z-index: 2;
        width: 80px;
    }

    .topTitle {
        text-decoration: underline;
        font-size: 1.5rem;
        color: #F08A29;
    }

    .topSubTitle {
        font-size: 1.5rem;
        color: #563CAA;
        margin-bottom: 0.5rem;
    }

    .aboutImage1 {
        left: 0px;
        width: 65%;
        height: 280px;
    }

    .aboutImage2 {
        bottom: -100px;
        right: 0px;
        width: 260px;
        height: 260px;
    }

    .aboutIllustration1 {
        bottom: 60px;
        right: 100px;
        width: 200px;
        height: 200px;
    }

    .aboutIllustration2 {
        left: 60px;
        bottom: -90px;
        width: 6rem;
    }

    .textContent {
        flex: 1;
        margin-top: 2rem;
    }

    .aboutIllustration3 {
        display: none;
    }

    .title {
        display: none;
    }

    .subTitle {
        display: none;
    }

    .description {
        font-size: 1rem;
        text-align: justify;
        line-height: 1.8;
        margin-bottom: 8rem;
    }

    .aboutIllustration4 {
        bottom: 0px;
        right: -70px;
    }
}

@media (max-width: 600px) {
    .imageWrapper {
        margin: 1rem 0 2rem;
    }

    .aboutImage1 {
        left: 0px;
        width: 70%;
        height: 220px;
    }

    .aboutImage2 {
        bottom: -30px;
        right: 0px;
        width: 200px;
        height: 200px;
    }

    .aboutIllustration1 {
        bottom: 80px;
        right: 40px;
        width: 160px;
        height: 160px;
    }

    .aboutIllustration2 {
        left: 30px;
        bottom: -20px;
        width: 6rem;
    }
}

@media (max-width: 425px) {
    .aboutSection {
        padding: 1rem;
    }

    .contentWrapper {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .topText {
        display: contents;
        text-align: center;
        z-index: 3;
        order: 1;
    }

    .imageWrapper {
        margin: 1rem 0 0;
    }

    .textContent {
        order: 3;
        width: 100%;
        text-align: justify;
    }

    .topAboutIllustration3 {
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 2rem;
        z-index: 2;
        width: 80px;
    }

    .topTitle {
        text-decoration: underline;
        font-size: 1.5rem;
        color: #F08A29;
    }

    .topSubTitle {
        font-size: 1.5rem;
        color: #563CAA;
        margin-bottom: 0.5rem;
    }

    .aboutImage1 {
        left: 0px;
        width: 70%;
        height: 200px;
    }

    .aboutImage2 {
        bottom: 0px;
        right: 0px;
        width: 180px;
        height: 180px;
    }

    .aboutIllustration1 {
        bottom: 80px;
        right: 40px;
        width: 160px;
        height: 160px;
    }

    .aboutIllustration2 {
        left: 20px;
        bottom: 10px;
        width: 5rem;
    }

    .textContent {
        flex: 1;
        margin-top: 2rem;
    }

    .aboutIllustration3 {
        display: none;
    }

    .title {
        display: none;
    }

    .subTitle {
        display: none;
    }

    .description {
        font-size: 1rem;
        text-align: justify;
        line-height: 1.8;
        margin-bottom: 9rem;
    }

    .aboutIllustration4 {
        bottom: -10px;
        right: -70px;
    }
}
