.studentSection {
  padding: 10rem 6rem 4rem;
  background: #EEF8FF;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.topContent {
  margin-bottom: 3rem;
}

.topTitle {
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: #ff7a00;
  font-weight: bold;
  text-decoration: underline;
}

.gradCapImage {
  position: absolute;
  top: 14rem;
  left: 44.25%;
  width: 8rem;
  height: 8rem;
  z-index: 2;
}

.attachmentsWrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch; 
  gap: 4rem;
  width: 100%;
  margin: 1rem 0;
}

.attachmentsCard {
  width: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #563caa21;
}

.slider {
  position: relative; 
  width: 100%;
  height: 25rem; 
  overflow: hidden; 
  border-radius: 1rem;
}

.studentSlidesImage {
  position: absolute;
  width: 100%; 
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  z-index: 0;
  left: 0;
}

.active {
  opacity: 1;
  z-index: 1;
}

.inactive {
  opacity: 0;
  z-index: 0;
}

.subTitle {
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: #563caa;
  font-weight: 600;
  margin: 2rem 0;
}

.attachmentDescription {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: black;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.contactButton {
  background-color: #F0C000;
  color: #563CAA;
  padding: 1rem 2rem;
  font-size: clamp(1rem, 5vw, 1.25rem);
  font-weight: 600;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  margin: 2rem 0 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.contactButton:hover {
  box-shadow: 0 4px 12px rgba(240, 192, 0, 0.6);
    transform: translateY(-2px);
}

.whatsAppIcon {
  margin-right: 0.5rem;
  vertical-align: middle;
  font-size: 1.65rem;
}

.centercard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.attachmentDownloadLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: 3rem 0;
  font-size: clamp(1rem, 5vw, 1.2rem);
}

.downloadLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem;
  width: 100%;
  border-radius: 5rem;
  text-decoration: none;
  text-align: center;
}

.studentSpeechDownloadLink {
  background-color: #A0C260;
}

.studentPsychologyDownloadLink {
  background-color: #F08A29;
}

.dressDownloadLink {
  background-color: #1BB9FF;
}

.agreementDownloadLink {
  background-color: #CC6AE1;
}

.downloadLinkWrapper {
  width: 85%;
}

.studentSpeechDownloadLinkWrapper {
  border: 3px dashed #A0C260; 
  padding: 0.25rem; 
  border-radius: 3rem; 
  margin-bottom: 1rem;
}

.studentPsychologyDownloadLinkWrapper {
  border: 3px dashed #F08A29; 
  padding: 0.25rem; 
  border-radius: 3rem; 
  margin-bottom: 1rem;
}

.dressDownloadLinkWrapper {
  border: 3px dashed #1BB9FF; 
  padding: 0.25rem; 
  border-radius: 3rem; 
  margin-bottom: 1rem;
}

.agreementDownloadLinkWrapper {
  border: 3px dashed #CC6AE1; 
  padding: 0.25rem; 
  border-radius: 3rem; 
  margin-bottom: 1rem;
}

.documentIcon {
  font-size: 1.5rem; 
  min-width: 1.5rem;  
  min-height: 1.5rem;
  flex-shrink: 0;
  margin-right: 0.25rem;
  vertical-align: middle;
}

.downloadIcon {
  font-size: 1.6rem;
}

.downloadIcon {
  font-size: 1.5rem;      
  min-width: 1.5rem;    
  min-height: 1.5rem;
  flex-shrink: 0;
  margin-right: 0.5rem;       
  vertical-align: middle; 
}


.documentIcon,
.downloadIcon {
  vertical-align: middle;
}

@media (max-width: 1440px) and (min-width: 1025px) {
  .studentSection {
    padding: 10rem 2rem 4rem;
  }

  .attachmentsWrapper {
    gap: 2rem;
  }
}

@media (max-width: 1300px) {
  .downloadLinkWrapper {
    width: 100%;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .studentSection {
    padding: 10rem 2rem 4rem;
  }

  .attachmentsWrapper {
    flex-direction: column;
    gap: 2rem;
  }

  .gradCapImage {
    top: 14rem;
    left: 83%;
  }

  .downloadLinkWrapper {
    width: 80%;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  .studentSection {
    padding: 10rem 2rem 4rem;
  }

  .attachmentsWrapper {
    flex-direction: column;
    gap: 2rem;
  }

  .gradCapImage {
    top: 14rem;
    left: 84vw;
    width: 6rem;
    height: 6rem;
  }

  .agreementDownloadIcon{
    font-size: 1.7rem;
  }
}

@media (max-width: 615px) {
  .gradCapImage {
    top: 14rem;
    left: 80vw;
    width: 6rem;
    height: 6rem;
  }
}

@media (max-width: 425px) {
  .studentSection {
    padding: 8rem 1rem 4rem;
  }

  .attachmentsWrapper {
    flex-direction: column;
    gap: 2rem;
  }

  .gradCapImage {
    top: 12rem;
    left: 76%;
    width: 5.5rem;
    height: 5.5rem;
  }

  .slider {
    height: 20rem;
  }

  .studentSlidesImage {
    height: 20rem;
  }

  .attachmentsCard {
    padding: 1rem;
  }

  .attachmentDescription {
    text-align: justify;
  }

  .contactButton {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0.75rem 0.5rem;
    width: 100%;
  }

  .contactUsLink {
    text-decoration: none;
  }

  .agreementDownloadIcon{
    font-size: 2.35rem;
  }
}

@media (max-width: 375px) {
  .gradCapImage {
    top: 12rem;
    left: 68vw;
    width: 6rem;
    height: 6rem;
  }
}