.footerSection {
    background-color: #563CAA;
    display: flex;
    padding: 2rem 8rem;
    gap: 3rem;
    margin-top: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 8rem;
}

.footerLeftContent {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    text-align: justify;
    gap: 3rem;
}

.footerLogo {
    display: flex;
    align-items: center;
    width: 200px;
    gap: 1rem;
}

.footerText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    font-size: clamp(1rem, 5vw, 1.5rem);
}

.footerRightContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    gap: 1rem;
}

.footerTitle {
    color: white;
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: 600;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footerLinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerLinks li {
  font-size: clamp(1.5rem, 5vw, 1.5rem);
  border-top: 1px solid white;
  padding-top: 1rem;
  list-style: none;
}

.footerLink {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  text-decoration: none;
  width: 100%;
  color: white;
  transition: color 0.3s ease;
}

.footerLink:hover {
  color: #F0C000;
}

.linkLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: clamp(1.5rem, 5vw, 1.5rem);
}

.ArrowIcon {
  font-size: 2.5rem;
  border-radius: 50%;
  padding: 0.3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.footerLink:hover .ArrowIcon {
  transform: rotate(45deg) scale(1.1);
}

.poweredBy {
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  color: #777;
  background-color: #f8f8f8;
  border-top: 1px solid #e0e0e0;
}



@media (max-width: 1024px) and (min-width: 769px) {
  .footerSection {
    padding: 2rem 2rem;
    gap: 1rem;
  }

  .footer {
    gap: 2rem;
  }

  .footerLeftContent {
    width: 80%;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .footerSection {
    padding: 2rem 2rem;
    gap: 3rem;
  }

  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    gap: 4rem;
  }

  .footerLeftContent {
    width: 100%;
    gap: 3rem;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
  }
}