/* @import url('https://fonts.googleapis.com/css2?family=Acme&family=Outfit&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, .acme-regular {
  font-family: 'acme', sans-serif;
} */



@font-face {
  font-family: 'Fredoka One';
  src: url('/Fonts/FredokaOne-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, .fredoka {
  font-family: 'Fredoka One', sans-serif;
}

p, .paragraph, body {
  font-family: 'Roboto', sans-serif;
}