.productsSection {
    padding: 10rem 0rem 6rem;
    background: #EEF8FF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.topSection {
    margin-bottom: 3rem;
}

.topTitle {
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: #ff7a00;
    font-weight: bold;
    text-decoration: underline;
}

.topSubTitle {
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: #563caa;
    font-weight: bold;
    margin-top: 0.5rem;
}

.midSection {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 1rem 0 0;
}

.productsImage {
    width: 100%;
    max-width: 30rem;
    height: 100%;
    margin-top: -6rem;
    margin-left: -4rem;
}

.productsContent {
    text-align: left;

}

.textContent {
    text-align: left;
}

.title {
    color: #1BB9FF;
    margin: 0.5rem 0;
    font-weight: 600;
    font-size: clamp(1.5rem, 5vw, 2rem);
}

.subtitle {
    margin: 0.5rem 0;
    font-weight: 600;
    font-size: clamp(1.25rem, 5vw, 1.5rem);
}

.productDescription {
    font-size: clamp(1.25rem, 5vw, 1.5rem);
    text-align: justify;
    margin: 1rem 0 2rem;
}

.productsSmallImages {
    width: 100%;
    max-width: 3.5rem;
}

.productsContentBottom {
  display: flex;
  gap: 2rem; 
  flex-wrap: wrap; 
}

.productsContentBottom > div {
  flex: 1; 
  min-width: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.halalProductsSmallImages {
    width: 100%;
    max-width: 3.5rem;
}

.contentBottom {
    gap: 0.5rem;
}

.playtimeImage{
    width: 100%;
    max-width: 10rem;
    height: 100%;
    margin-top: 11rem;
    margin-right: 4rem;
}

.bottomSection {
    background: #EEF8FF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 2rem 0 0;
}

.toysContent {
    position: relative; 
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    background-color: #8D8AFF;
    border-radius: 2rem;
    margin: 2rem;
}

.ToysImages {
    width: 100%;
    max-width: 30rem;
    height: 100%;
}

.toysDescription {
    padding: 0rem 20rem 0rem 3rem;
    color: white;
    line-height: 1.5;
    font-weight: bold;
    font-size: clamp(1.25rem, 5vw, 1.5rem);
    text-align: justify;
}

.description {
    margin-top: 1rem;
}

.LegoImages {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px; 
    height: auto;
    object-fit: contain;
    border-bottom-right-radius: 2rem;
}


@media (max-width: 1440px) and (min-width: 1025px) {
    .midSection {
        position: relative;
        display: flex; 
        flex-direction: row;
        padding: 1rem 0 1rem;
        width: 100%;
    }

    .productsImage {
        max-width: 28%;
        margin-top: -4rem;
        margin-left: -2.5rem;
    }

    .productsContent {
        margin-left: -2vw;
        width: 63vw;
    }

    .productDescription {
        text-align: justify;
    }

    .productsSmallImages {
        width: 100%;
        max-width: 3.5rem;
    }

    .playtimeImage {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 140px; 
        height: auto;
        object-fit: contain;
        margin-right: 3vw;
    }

    .ToysImages {
        max-width: 30vw;
    }

    .toysDescription {
        padding: 1rem 12vw 1rem 1rem;
        text-align: justify;
    }

    .LegoImages {
        width: 14vw; 
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .midSection {
        position: relative;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0 2rem;
    }

    .productsImage {
        max-width: 30%;
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .productsContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0rem;
        width: 88%;
    }

    .productsContentBottom {
        width: 80%;
    }

    .productDescription {
        text-align: justify;
    }

    .productsSmallImages {
        width: 100%;
        max-width: 3rem;
    }

    .playtimeImage {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 130px; 
        height: auto;
        object-fit: contain;
        margin-right: 0;
    }

    .ToysImages {
        max-width: 35vw;
    }

    .toysDescription {
        padding: 1rem 7rem 1rem 0rem;
        text-align: justify;
    }

    .LegoImages {
        width: 18vw; 
    }
}
@media (max-width: 768px) and (min-width: 426px) {
    .midSection {
        position: relative;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0 9rem;
    }

    .productsImage {
        max-width: 60%;
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .productsContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0rem;
        width: 90%;
    }

    .productsContentBottom {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .productsContentBottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .productDescription {
        text-align: justify;
    }

    .productsSmallImages {
        width: 100%;
        max-width: 3rem;
    }

    .playtimeImage {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 140px; 
        height: auto;
        object-fit: contain;
        margin-right: 0;
    }

    .toysContent {
        flex-direction: column;
    }

    .ToysImages {
        max-width: 60vw;
    }

    .toysDescription {
        padding: 1rem 3rem 3rem;
    }

    .description {
        text-align: center;
    }

    .LegoImages {
        width: 8.5rem; 
    }
}
@media (max-width: 425px) {
    .midSection {
        position: relative;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0 9rem;
    }

    .productsImage {
        max-width: 60%;
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .productsContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0rem;
        width: 90%;
    }

    .productsContentBottom {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .productsContentBottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .productDescription {
        text-align: justify;
    }

    .productsSmallImages {
        width: 100%;
        max-width: 3rem;
    }

    .playtimeImage {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 140px; 
        height: auto;
        object-fit: contain;
        margin-right: 0;
    }

    .toysContent {
        flex-direction: column;
    }

    .ToysImages {
        max-width: 60vw;
    }

    .toysDescription {
        padding: 1rem 1.5rem 3rem;
    }

    .description {
        text-align: center;
    }

    .LegoImages {
        width: 8rem; 
    }
}