.speechTherapySection {
    padding: 10rem 0rem 0rem;
    background: #EEF8FF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.topSection {
    padding: 0rem 6rem 0rem;
    width: 100%;
}

.topTitle {
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: #ff7a00;
    font-weight: bold;
    text-decoration: underline;
}

.topSubTitle {
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: #563caa;
    font-weight: bold;
    margin-top: 0.5rem;
}

.descriptionBox {
    width: 100%;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid #563caa21;
    margin: 4rem 0;
}

.description {
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: black;
    line-height: 1.5;
    text-align: justify;
}

.howItWorksSection {
    width: 100%;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.howTitle {
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: #563caa;
    font-weight: bold;
    margin-top: 0.5rem;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    width: 100%;
    max-width: 55rem;
    margin: 4rem 1rem;
    justify-items: center;
}

.card {
  position: relative;
  border-radius: 1rem;
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 38vw;
  height: 25rem;
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.cardImage {
    width: 100%;
    height: 15rem;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.waveImage {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -1.9rem;
    z-index: 999;
}

.cardContent {
    font-size: clamp(1rem, 3vw, 1.5rem);
    padding: 1rem 1rem 1rem;
    position: relative;
    z-index: 2;
}

.learnMoreBtn {
    font-size: clamp(1rem, 5vw, 1.15rem);
    font-weight: 600;
    background: white;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 0.5rem 2rem;
    margin-top: 1.25rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.learnMoreBtn:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

.stepNumber {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: #5b21b6;
    border: 3px solid #5b21b6;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6;
}

.cardDescription {
    margin-top: 1rem;
    line-height: 1.5;
    color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--active-color, rgba(0, 0, 0, 0.85));

  color: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  text-align: center;
  line-height: 1.5;
  border-radius: 1rem;
  animation: slideUpInside 0.4s ease-out;
}

.overlayContent {
    text-align: center;
}

.tapText {
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.9rem;
  text-decoration: underline;
}

.overlay h3 {
    font-size: clamp(1.5rem, 3vw, 1.85rem);
    margin-bottom: 1rem;
}

.overlay p {
    font-size: clamp(1.15rem, 3vw, 1.25rem);
}

@keyframes slideUpInside {
  from {
    transform: translateY(1%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.closeBtn {
    font-size: 1rem;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.closeBtn:hover {
  color: white;
  transform: scale(1.05);
}



@media (max-width: 1024px) and (min-width: 769px) {
    .speechTherapySection {
        padding: 10rem 0rem 0rem;
    }

    .topSection {
        padding: 0rem 2rem 0rem;
    }

    .cardGrid {
        gap: 3rem 1.5rem;
        max-width: 93vw;
    }

    .card {
        max-width: 40vw;
        height: 27rem;
    }

    .cardImage {
        height: 15rem;
    }

    .waveImage {
        margin-top: -1.6rem;
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    .speechTherapySection {
        padding: 10rem 0rem 0rem;
    }

    .topSection {
        padding: 0rem 2rem 0rem;
    }

    .cardGrid {
        grid-template-columns: 1fr;
        gap: 3rem 1.5rem;
        max-width: 90vw;
    }

    .card {
        max-width: 22.5rem;
        height: 27rem;
    }

    .cardImage {
        height: 18rem;
    }

    .waveImage {
        margin-top: -1.6rem;
    }
}

@media (max-width: 426px) {
    .speechTherapySection {
        padding: 10rem 0rem 0rem;
    }

    .topSection {
        padding: 0rem 1rem 0rem;
    }

    .descriptionBox {
        padding: 1rem;
    }

    .cardGrid {
        grid-template-columns: 1fr;
        gap: 3rem 1.5rem;
        max-width: 90vw;
    }

    .card {
        max-width: 90vw;
        height: 25rem;
    }

    .cardImage {
        height: 16rem;
    }

    .waveImage {
        margin-top: -1.5rem;
    }

    .overlay {
        padding: 5rem 0.5rem;line-height: 1.25;
    }

    .closeBtn {
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }
}