.teamSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: white;
  padding: 5rem 2rem;
  text-align: center;
  border-radius: 2rem;
  overflow: hidden;
}

.teamContainer {
  position: relative;
  background-color: #f8f6ff;
  padding: 2rem;
  border-radius: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.teamIllustration1,
.teamIllustration2 {
  position: absolute;
  width: 80px;
  z-index: 1;
}

.teamIllustration1 {
  top: 0;
  left: -4rem;
}

.teamIllustration2 {
  bottom: 2rem;
  right: -3rem;
}

.title {
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: bold;
  color: #563CAA;
  /* color: var(--color-primary); */
  margin-bottom: 2rem;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.card {
  perspective: 1000px;
  width: 100%;
  max-width: 280px;
  border-radius: 1rem;
  aspect-ratio: 3 / 4.2;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
}

.cardInner.flipped {
  transform: rotateY(180deg);
}

.cardFront, .cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
  overflow: hidden;
  border: 2px solid black;
}

.cardFront {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  z-index: 2;
  justify-content: flex-start;
}

.imageWrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 1rem;
  padding-bottom: 3rem;
  transform: scale(2.25);
  transition: transform 0.3s ease-in-out;
}

.textContainer {
  padding: 0.5rem;
  margin-top: 3rem;
  text-align: center;
  z-index: 99;
}

.name {
  font-weight: bold;
  font-size: clamp(1.1rem, 4vw, 1.5rem);
}

.titleText {
  font-size: clamp(0.95rem, 3.5vw, 1.2rem);
  color: #563CAA;
  font-weight: 600;
}

.cardBack {
  background: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  text-align: center;
}

.description {
  font-size: 1.1rem;
  line-height: 1.4;
  color: black;
}

.tapToReturn {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-style: italic;
  color: black;
  opacity: 0.8;
}


/* Slick slider dots styling */
.teamSlider .slick-dots {
  bottom: -30px; 
  text-align: center;
}

.teamSlider .slick-dots li button:before {
  font-size: 2rem;
  color: #563CAA;
  opacity: 0.5;
}

.teamSlider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #563CAA;
}

.readMoreBtn {
  margin-top: 1rem;
  background-color: #563CAA;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.readMoreBtn:hover {
  background-color: #4a22b7;
}

.readMoreBtn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #5e2ced;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.readMoreBtn:hover {
  background-color: #4523b6;
}

.backContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.backBtn {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #5e2ced;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.backBtn:hover {
  background-color: #4523b6;
}

@media (max-width: 1440px) and (min-width: 1025px) {
  .desktopGrid {
    display: grid;
  }

  .mobileSlider {
    display: none;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .teamGrid {
    display: none;
  }

  .teamSlider {
    display: block;
  }

  .image {
    height: 240px;
  }

  .textContainer {
    padding: 0.5rem;
    margin-top: 3.5rem;
    text-align: center;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  .teamSection {
    padding: 5rem 0rem;
  }

  .teamContainer {
    padding: 2rem;
    border-radius: 0rem;
  }

  .teamGrid {
    display: none;
  }

  .teamSlider {
    display: block;
  }

  .card {
    max-width: 280px;
  }

  .image {
    height: 200px;
  }

  .textContainer {
    margin-top: 2.5rem;
  }

  .image {
    height: 240px;
    padding-bottom: 4.5rem;
  }

  .textContainer {
    padding: 0rem 2.25rem;
    margin-top: 0rem;
  }
}

@media (max-width: 425px) and (min-width: 341px){
  .teamSection {
    padding: 5rem 0rem;
  }

  .teamContainer {
    padding: 2rem;
    border-radius: 0rem;
  }

  .teamGrid {
    display: none;
  }

  .teamSlider {
    display: block;
  }

  .card {
    max-width: 280px;
  }

  .image {
    height: 210px;
  }

  .textContainer {
    margin-top: 3rem;
  }
}

@media (max-width: 340px){
  .teamSection {
    padding: 5rem 0rem;
  }

  .teamContainer {
    padding: 2rem;
    border-radius: 0rem;
  }

  .teamGrid {
    display: none;
  }

  .teamSlider {
    display: block;
  }

  .card {
    max-width: 300px;
  }

  .image {
    height: 240px;
    padding-bottom: 4.5rem;
  }

  .textContainer {
    padding: 0rem 2.25rem;
    margin-top: -0.35rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .card:hover .cardInner {
    transform: rotateY(180deg);
  }

  .card:hover .image {
    transform: scale(1.05);
  }
}






