.serviceSection {
  padding: 10rem 0rem 4rem;
  text-align: center;
  align-items: center;
}

.title {
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: #ff7a00;
  font-weight: bold;
  text-decoration: underline;
}

.subTitle {
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: #563caa;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.card {
  width: 400px;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.cardImage {
  width: 100%;
  height: 270px;
  object-fit: cover;
  margin-bottom: -2rem;
}

.overlayWrapper {
  position: relative;
}

.overlayImage {
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: -4px;
}

.cardContent {
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(1rem, 5vw, 1.5rem);
  gap: 1rem;
  position: relative;
  z-index: 2;
  margin-top: -0.5rem;
}

.speechBg {
  background-color: #1bb9ff;
}

.psychologyBg {
  background-color: #a0c260;
}

.learnMoreBtn,
.learnMoreBtnGreen {
  padding: 0.5rem 1rem;
  background-color: white;
  color: #1bb9ff;
  font-size: clamp(1rem, 5vw, 1.15rem);
  font-weight: 600;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.learnMoreBtnGreen {
  color: #a0c260;
}

.learnMoreBtn:hover,
.learnMoreBtnGreen:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transform: translateY(-2px);
}

.bookBtn {
  display: inline-block;
  width: fit-content;
  margin-top: 3rem;
  background-color: #f0c000;
  color: #563caa;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  font-weight: 600;
  font-size: clamp(1rem, 5vw, 1.25rem);
  text-decoration: none;
  transition: all 0.3s ease;
}

.bookBtn:hover {
  box-shadow: 0 4px 12px rgba(240, 192, 0, 0.6);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .subTitle {
    margin: 0.5rem 1rem 3rem;
  }

  .cardWrapper {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}
