/* Sidebar container */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding: 1.5rem;
}

/* Slide in when open */
.sidebar.open {
  transform: translateX(0);
}

/* Close button */
.sidebarCloseBtn {
  background: none;
  border: none;
  font-size: clamp(1.5rem, 4vw, 2rem);
  align-self: flex-end;
  padding: 0;
  cursor: pointer;
  color: black;
}

/* Logo */
.sidebarLogo {
  width: auto;
  height: clamp(80px, 12vw, 100px);
  margin-bottom: 3rem;
  align-self: center;
}

/* Sidebar links */
.sidebar a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #563CAA;
  font-weight: bold;
  font-size: clamp(1.15rem, 3.5vw, 1.5rem);
  margin-bottom: 3vw;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #f0f0f0;
}

/* Icons */
.sidebarIcon {
  width: clamp(23px, 4vw, 28px);
  height: auto;
}

/* Active link */
.activeLink {
  font-weight: bold;
  color: #563CAA;
}

/* Overlay */
.sidebarOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
}

/* Disable body scroll when sidebar is open */
.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.sidebarLink {
  gap: 0.5rem !important;
  font-size: clamp(1.25rem, 3.5vw, 1.5rem) !important;
  padding: 1rem 0 !important;
  margin-bottom: 0 !important;
  border-bottom: none !important;
}

.sidebarDropdown {
  width: 100%;
}

.sidebarDropdownToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  font-size: clamp(1.25rem, 3.5vw, 1.5rem);
  font-weight: bold;
  width: 100%;
  color: #563CAA;
  padding: 1rem 0;
  cursor: pointer;
}

.sidebarDropdownTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}

.sidebarDropdownSubtitle {
  font-size: clamp(1rem, 3.5vw, 1.25rem);
  color: #ff7a00;
  margin-top: 0.25rem;
}

.sidebarDropdownArrow {
  transition: transform 0.3s ease;
}

.sidebarDropdownArrow.open {
  transform: rotate(180deg);
}

.sidebarDropdownMenu {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebarDropdownMenu a {
  font-size: clamp(1rem, 3.5vw, 1.25rem);
  font-weight: 500;
}

.sidebarBookingArrow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


/* Hide sidebar on larger screens */
@media (min-width: 1025px) {
  .sidebar,
  .sidebarOverlay {
    display: none;
  }
}
