.testimonialsSection {
    padding: 4rem 0rem;
    background: white;
    text-align: center;
}

.topContent {
    margin-bottom: 3rem;
}

.title {
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: #ff7a00;
    font-weight: bold;
    text-decoration: underline;
}

.subTitle {
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: #563caa;
    font-weight: bold;
    margin-top: 0.5rem;
}

.testimonialContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.testimonialCard {
    position: relative;
    width: 100%;
    max-width: 900px;
}

.bubbleWrapper {
  position: relative;
  width: 70%;
  overflow: visible; 
}

.bubbleImage {
    width: 100%;
    height: auto;
    display: block;
    padding: 0rem 5rem;
}

.bubbleContent {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    width: 80%;
    height: 100%;
    display: flex;
    margin-top: -3rem;
    margin-left: 6.5rem;
    flex-direction: column;
    justify-content: center;
}

.text {
    text-align: justify;
    font-size: clamp(1rem, 5vw, 1.15rem);
    line-height: 1.5;
    color: #111;
    margin-bottom: 1rem;
}

.name {
    text-align: left;
    font-size: clamp(1rem, 5vw, 1.15rem);
    font-weight: bold;
    color: #563caa;
    margin-bottom: 1rem;
}

.stars {
    display: flex;
    justify-content: right;
    gap: 0.3rem;
}

.starIcon {
    width: 1.5rem;
    height: auto;
}

.quote {
  position: absolute;
  width: 3.5rem;
}

.topLeft {
  top: -20px;
  left: 60px;
  transform: rotate(200deg);
}

.bottomRight {
  bottom: 50px;
  right: -30px;
  transform: rotate(20deg);
}

.sliderContainer {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0rem;
}

.slick-dots li button:before {
  font-size: 30px;
  color: #563CAA;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #563CAA;
}


@media (min-width: 768px) {
  .testimonialContainer {
    flex-direction: row;
    justify-content: center;
  }
}

